

#lightBox_modal{
    display:none;
}

.lightBox-bground{
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    overflow: auto;
    background-color: white;
    align-content: center;
}

.closeIcon {
    cursor: pointer;
    position: absolute;
    right: 20%;
    top:7%;
    color: #901C1C;
    scale: 2.5;
}


#contact_modal {
    display: none;
}

.modal-bground{
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    overflow: auto;
    background-color: rgba(105, 108, 132, 0.4);
}

.photograph-header {
    background-color: #FAFAFA;
    height: 300px;
    margin: 0 100px;
}

.contact_button {
    font-size: 20px;
    font-weight: bold;
    color: white;
    padding: 11px;
    width: 170px;
    height: 70px;
    border: none;
    background-color: #901C1C;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 0.3vh;
}

.modal {
    border-radius: 5px;
    background-color: #DB8876;
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 35px;
    scale: 70%;
    position: fixed;
    right: 57vh;
    top:-18%;
}


.lightBoxMediaContainer{
    height: 50%;
    width: 50%;
}

.modal header {
   align-items: flex-start;
    width: 100%;
    height: 145px;
    display: flex;
    flex-direction: column;
    
}

.modal header img {
    cursor: pointer;
    position: absolute;
    right: 4%;
    top:5%;

}

.modal header .formPhotographerName {
    font-size: 50px;
    font-weight: 500;
    
    width: 90%;
    text-wrap: wrap;
    margin-top: 35px;
    display: block;
    margin-top: -4px;
}

.modal header .formPhotographerContactMe{
    display: block;
    font-size: 50px;
    font-weight: 500;
    margin: 0%;
}


.photographe-name {
    font-size: 64px;
    font-weight: normal;
    text-align: center;
}

form {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
}

form label {
    color: #312E2E;
    font-size: 36px;
    margin-bottom: -20px;
}

form div {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: self-start;
    margin-bottom: 26px;
    margin-bottom: 0px;
}

form input {
    width: 100%;
    height: 68px;
    border: none;
    border-radius: 5px;
}

form textarea {
    width: 100%;
    height: 150px;
    border: none;
    border-radius: 5px;
}

.formData[data-error]::after {
    content: attr(data-error);
    font-size: 0.8em;
    color: white;
    display: block;
    margin-top: 4px;
    margin-bottom: 7px;
    text-align: right;
    line-height: 0.3;
    opacity: 0;
    transition: 0.3s;
    text-decoration: underline red;
  }
  .formData[data-error-visible="true"]::after {
    opacity: 1;
  }
  .formData[data-error-visible="true"] .text-control {
    border: 3px solid red;
  }

.photograph-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding-right: 3%;
    padding-left: 3%;
    width: 82%;
    margin-left: auto;
    margin-right:auto;

}

.photograph-header__img{
    border-radius: 50%;
    object-fit: cover;
    height: 200px;
    width: 200px;
    overflow: hidden;
}

.photograph-header__img .picture{
    height: 200px;
    width: 200px;
    zoom:1.1;
    object-fit: cover;
    
}

.photograph-header__description .name {
    color: #D3573C;
    font-size: 36px;
    margin-bottom: auto;
}

.photograph-header__description .description {
    font-size: 12px;
    font-weight: 600;
    margin: auto;
}

.photograph-header__description .localisation {
    color:#901C1C;
    font-size: medium;
    font-size: 18px;
    margin: auto;
}

.photographe-media{
    display: grid;
    width: 87%;
    justify-content: center;
    grid-template-columns: 26% 26% 26%;
    grid-template-rows: 300px 300px 300px 300px ;
    margin-left: auto;
    margin-right: auto;
    gap: 2% 11%;
}

.media{
    display:flex ;
    flex-direction: column-reverse;
    height: 100%;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    
}

.mediaDescription{
    display: flex;
    align-items: center;
    width: 100%;
    height: 10%;
    justify-content: space-between;
    color: #901c1c;
}

.videoInput{
    height: 90%;
    width:100%;
    object-fit: cover;
}

.pictureInput{
    height: 90%;
    width: 100%;
    object-fit: cover;
}

.mediaInput{
    border-radius: 1%;
}

.fa-solid{
    align-self: center;
    margin-right: 0x;
}

.mediaLikeScore{
    margin-right:-5% ;
}

.mediaTitle{
    width: 75%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.likesScoreAndPrice{
    display: flex;
    background-color: #D3573C;
    position: fixed;
    bottom: 0;
    right: 3%;
    z-index: 1;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    width: 20%;
    justify-content: space-around;
}

.likesScoreAndPrice__likeContainer{
    display: flex;
}

.likesScoreAndPrice .fa-solid{
    margin-left: 5%;
}


.lightBoxMediaContainer{
    justify-content: center;
    
    width: 93%;
    height: 100%;
}

.lightboxMedia{
    object-fit: cover;
    width: 100%;
    height: 100%;
    margin: 0%;
}

.lightBox{
    display: flex;
    height: 90%;
    width: 60%;
    align-items: center;
    margin: auto;
    justify-content: space-between;
}

.lightBoxMediaTitle {
    position: absolute;
    bottom: -8px;
    margin-left: 2%;
    color : #901c1c
}

.navigationArrow {
    color: #901C1C;
    scale: 3;
}

.sortChoiceList{
    
    display: block;
    margin:0;
    z-index: 1;
    position: absolute;
    left: 12%;
    top: 400px;
    list-style: none;
    padding: 0.3%;
    color: white;
    background:#901C1C;
    width: 7%;
    font-size: 130%;
    border-radius: 5px;
    

}
#listElementTwo{
    display: none;
}

#listElementThree{
    display: none;
}



.sortChoiceList:hover{
    display: block;
}

.selectedChoice{
    margin: 0;
    display: flex;
    width: 9%;
    color: white;
    background-color: #901C1C;
    padding: 0.3%;
    border-radius: 5px 5px 0px 0px;
    font-size: 100%;
}

.selectedChoice:hover ~.sortChoiceList{
    display: block;
}

.listTitle{
    display: inline;
    font-weight: 600;
    font-size: 14px;
    margin-top: 20px;
}

.listChoice{
    color: white;
    background-color:#901C1C;
    border: none;
    padding: 0;
    width: 90%;
    text-align: left;
    font-size: 60%;
    height:auto;
    vertical-align: middle;
    margin-top: 8px;
    margin-left: 5px;
}

.listElement{
    height: 35px;
    align-items: center;
}

#listElementTwo{
    border-top: solid white 1px;
    border-bottom: solid white 1px;
}

.sortChoiceListContainer{
    display: flex;
    flex-direction: row;
    margin-left: 6%;
    height: 90px;
}
#scales{
    z-index: 3;
    height: 20px;
    width: 20px;
    position: absolute;
    left: 17.5%;
    top: 410px;
    opacity: 0;
}

#scales:checked ~#chevronLogo{
    rotate:180deg;

}

.fa-chevron-down {
    z-index: 2;
    scale: 0.8;
    position: absolute;
    left: 17.5%;
    top: 413.4px;
    color: white;
}

.fa-video {
    color: white;
    
    position: absolute;
   
    margin-right: -40vh;
    margin-bottom: 40px;
}